body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
}

.header {
    background-color: #000;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    justify-content: center;
}

.header__inner {
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

.header__logo {
    left: 10px;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.header__search {
    flex: 1;
    max-width: 400px;
    display: flex;
    margin: 0 20px;
}

.header__search input {
    flex: 1;
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__nav form {
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.header__nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.exhibition-button {
    background-color: #fff;
    padding: 5px 6px;
    cursor: pointer;
    color: #000;
    border: none;
    border-radius: 3px;
    margin: 0 10px;
}