.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

.page-title {
    font-size: 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.custom-file-label {
    display: inline-block;
    padding: 8px 16px;
    background: red;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.hidden-file-input {
    display: none;
}

label {
    width: auto;
    display: inline-block;
    font-size: 17px;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.update-btn {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 65px;
    width: 100%;
    margin-top: 80px;
    font-style: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
}

