.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 20px;
    box-sizing: border-box;
}

.page-title {
    font-size: 24px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
}

.image-upload-wrapper {
    flex-direction: row;
    display: flex;
    gap: 10px;
}

.filename {
    font-size: 15px;
    margin-top: 50px;
    margin-left: 10px;
}

.profile-preview {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: grey;
}

.no-image {
    background-color: #ccc;
    display: inline-block;
}

.custom-file-label {
    display: flex;
    justify-content: center;
    width: 40%;
    height: 40px;
    padding-top: 5px;
    margin-left: 20px;
    margin-top: 40px;
    background: #fff;
    color: red;
    border: 1px solid red;
    border-radius: 4px;
    cursor: pointer;
}

.hidden-file-input {
    display: none;
}

label {
    width: auto;
    display: inline-block;
    font-size: 17px;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.form-group input[type="text"] {
    height: 35px;
}

.update-btn {
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 65px;
    width: 100%;
    margin-top: 80px;
    font-style: bold;
    font-size: 16px;
    cursor: pointer;
    background-color: red;
}

